*{
	margin:0;
	padding:0;
	list-style:none;
}
@keyframes typing {
    from { width: 0 ;}
}
@keyframes caret {
    50% { border-color: currentColor; }
}
.sbig{
	width:100vw;
	height:100vh;
	overflow:hidden;
	position:relative;
}
.big{
	width:100%;
	height:100%;
	margin:auto;
	position:relative;
	background:  url("../image/9.jpg")no-repeat center center/cover;
	.xia{
	width:80px;
	height:80px;
	border-radius:50%;
    position:fixed;
    background-attachment:fixed;
    box-shadow:0 0 66px #fff inset;
    bottom:15px;
    left:50%;
    margin-left:-40px;
	background:url("../image/4.png")no-repeat center center/60% 60%;
	transition:all .8s ease;
	transform:scale(0.8,0.8);
	cursor:pointer;
	z-index:200;
	&:hover{
	transform:scale(1,1);
	}
	&.up{
	transform:rotate(180deg);
	}
	}
}
.an{
transition:all .8s ease;
	transition:transform 1s ease;
	transform:translate3d(0,-100%,0);
}
.h1{
	position:absolute;
	right:320px;
	top:70px;
	font-size:60px;
	font-family: Inconsolata;
    width:21ch;
    white-space: nowrap;
    animation: typing 3s steps(21),
    caret 1s steps(1) infinite;
    overflow: hidden;
    border-right: .05em solid transparent;

}
.right{
	width:60px;
	height:60px;
	position:absolute;
	z-index:10;
	right:0;
	top:50%;
	margin-top:-30px;
	background:url("../image/1.png")no-repeat center center/cover;
	display:none;
}
.left{
	width:60px;
	height:60px;
	float:right;
	position:absolute;
	z-index:10;
	left:0;
	top:50%;
	margin-top:-30px;
	background:url("../image/1.png")no-repeat center center/cover;
	transform:rotate(180deg);
	display:none;
}
.name{
	position:absolute;
	right:250px;
	top:255px;
	font-size:24px;
    border-bottom:1px dashed #999;
    padding-bottom:5px;
    font-family: Inconsolata;
    width:10ch;
    white-space: nowrap;
    animation: typing 3s steps(10),
            caret 1s steps(1) infinite;
    overflow: hidden;
    border-right: .05em solid transparent;

}
.geyan{
	position:absolute;
	right:280px;
	top:310px;
	font-size:24px;
	padding-bottom:5px;
	span{
	border-bottom:1px dashed #999;
	padding-bottom:5px;
	}
	.span1{
	width:132px;
    margin-left:50px;
    display:block;
	}
	.spans{
	display:block;
	margin-left:130px;
	margin-top:8px;
	}
	.qiji{
	font-size:30px;
	border:none;
	}
}

.second{
    width:100%;
    height:100%;
    position:absolute;
    top:100%;
    transition:all .8s ease;
    left:0;
    background:url("../image/4.jpg")no-repeat center center/cover;
    .a{
    width:200px;
    height:80px;
    border-radius:8px;
    background:rgba(154,116,97,0.5);
    font-size:14px;
    font-family:"微软雅黑";
    }
    .zhezhao2{
	width:600px;
	height:800px;
	margin-left:384px;
    background:rgba(67,37,45,0.8);
    position:absolute;
    transform:scale(0,0);
    &.ansm{
	transition:transform .8s ease;
	transform:scale(1,1);
}
    .pre{
    width:160px;
    height:40px;
    font-size:29px;
    letter-spacing:7px;
    text-align:center;
    line-height:40px;
    position:absolute;
    left:50%;
    margin-left:-80px;
    top:80px;
    padding-bottom:5px;
    border-bottom:1px dashed #fff;
    color:#fff;
    text-shadow:5px 4px 3px #ccc;
    font-family: Inconsolata;
    width:12ch;
    white-space: nowrap;
    animation: typing 3s steps(12),
    caret 1s steps(1) infinite;
    overflow: hidden;
    border-right: .05em solid transparent;
    }
    .pres{
    display:block;
    width:550px;
    height:300px;
    margin-top:180px;
    letter-spacing:7px;
    text-align:center;
    line-height:40px;
    font-size:18px;
    color:#fff;
    position:absolute;
    left:50%;
    margin-left:-275px;
    top:100px;
    padding-bottom:2px;
    border-bottom:1px dotted #fff;
    }
    .guanbi{
    width:60px;
    height:60px;
    border-radius:50%;
    margin-left:540px;
    background:url("../image/52.png")no-repeat center center/70% 70%;
    }
}
    .ans{
    transition:transform 1s ease 1s;
    transform:rotate(-360deg);
    }
    .ans1{
    transition:transform 1s ease 1s;
    transform:rotate(360deg);
    }
    .left1{
    margin-top:-285px;
    text-align:center;
    line-height:80px;
    }
    .left2{
    margin-top:130px;
    margin-left:200px;
    text-align:center;
    line-height:80px;
    }
    .right1{
    float:right;
    margin-top: -285px;
    margin-right:0;
    text-align:center;
    line-height:80px;
    }
    .right2{
    float:right;
    margin-top: -78px;
    margin-right:200px;
    text-align:center;
    line-height:80px;
    }
    .bottom1{
    margin-top:150px;
    margin-left:400px;
    text-align:center;
    line-height:80px;
    }
    .bottom2{
    float:right;
    margin-top:-79px;
    margin-right:400px;
    text-align:center;
    line-height:80px;
    }

}
.photo{
	width:200px;
	height:200px;
	border-radius:50%;
	margin:100px auto;
	background:url("../image/13.JPG")no-repeat scroll (-93px -29px) / 322px auto;
	box-shadow:0 0 10px #fff inset;
	a{
	display:block;
	width:200px;
	height:200px;
	}
}

.jieshao{
	width:100px;
	height:40px;
	line-height:40px;
	cursor:pointer;
	position:relative;
	left:50%;
	margin-left:-50px;
	top:70%;
	color:#cf3473;
	font-family:"苹方";
	font-size:24px;
	text-shadow:5px 6px 3px #ccc;
}
.three{
	width:100%;
    height:100%;
	position:absolute;
    top:100%;
    left:0;
    background:url("../image/3.jpg")no-repeat center center/cover;
    z-index:11;
    filter:blur();
    transition:all .8s ease;
   .zhezhao{
	width:100%;
    height:100%;
    background:rgba(255,255,255,0.6);
.skill{
	width:3%;
	height:80px;
	font-size:40px;
	position:absolute;
	left:200px;
	top:180px;
	line-height:80px;
	font-faimaly:"微软雅黑";
	span{
	display:block;
	}
	.s1{
	margin-left:20px;
	line-height:150px;
	color:#251614;
	text-shadow:6px 6px 3px #fff;
	}
	.s2{
	margin-top:-36px;
	margin-left:-10px;
	font-size:35px;
	text-shadow:6px 6px 3px #333;
	}
	.s3{
	font-size:60px;
	margin-left:15px;
	margin-top:-20px;
	color:#6e4e3a;
	text-shadow:6px 6px 3px #fff;
	}
	.s4{
	font-size:30px;
	margin-left:13px;
	margin-top:-20px;
	line-height:130px;
	text-shadow:6px 6px 3px #333;
	}
}
.content{
	position:relative;
	width:300px;
	height:200px;
	background:rgba(217,175,140,0.7);
	border-radius:8px;
	left:380px;
	top:200px;
	box-shadow:0 0 5px #fff;
}
.content::before {
 content: "";
 position:  absolute;
  top: calc(50% - .35em); right: -.4em;
 padding:  .35em;
 background:  inherit;
 border:  inherit;
 border-right:  0;
  border-bottom:  0;
  transform: rotate(45deg);
}
@keyframes an{
	from{
	width:0;
	}
}
.skills{
	width:30%;
	height:500px;
	position:absolute;
	right:30px;
	top:80px;
	.sk{
	width:80%;
	height:18px;
	border-radius:15px;
	background:#dfbb79;
	margin-top:15px;
	margin-bottom:30px;
	margin-left:15px;
	line-height:18px;
	position:relative;
	padding-left:15px;
	.ski{
	width:60%;
	height:18px;
	border-radius:15px;
	background:#f7e8c6;
	position:absolute;
	top:0;
	left:0;
	}
	.dong{
	animation:an 1s linear 0.2s;
	}
	span:nth-child(1){
	position:absolute;
	z-index:10;
	}
	}
	.skillname{
	margin-left:-130px;
	color:#661223;
	}
}
}
}
.four{
	width:100%;
    height:100%;
	position:absolute;
    top:100%;
    left:0;
    background:url("../image/5.jpg")no-repeat center center/cover;
    z-index:11;
    transition:all .8s ease;
    filter:blur();
    .zhezhao1{
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.5);
    }
}
.five{
	width:100%;
    height:100%;
	position:absolute;
    top:100%;
    left:0;
    transition:all .8s ease;
    background:url("../image/14.jpg")no-repeat center center/cover;
    z-index:11;
    .circle{
    width:100px;
    height:100px;
    border-radius:50%;
    float:left;
    text-align:center;
    line-height:100px;
    box-shadow:2px 2px 4px #999;
    margin-right:15px;
    margin-left:100px;
    margin-top:80px;
    font-family:"微软雅黑";
    cursor:pointer;
    }
    .cns{
    positio:relative;
    }
    .content{
    position:absolute;
    width:700px;
    height:370px;
    margin-left:100px;
    margin-top:220px;
    background:rgba(255,255,255,0.8);
    box-shadow:0 0 80px #f3cecc inset;
    padding-left:15px;
    border-radius:8px;
    .cs{
    width:120px;
    height:120px;
    margin-right:30px;
    float:left;
    margin-top:17%;
    margin-left:20px;
    }
    .c1{
    background:url("../image/18.jpg")no-repeat center center/cover;
    }
    .c2{
    background:url("../image/19.jpg")no-repeat center center/cover;
    }
    .c3{
    background:url("../image/20.jpg")no-repeat center center/cover;
    }
    .c4{
    background:url("../image/22.jpg")no-repeat center center/cover;
    }
    .c5{
    background:url("../image/2.png")no-repeat center center/cover;
    }
    .c6{
    background:url("../image/3.png")no-repeat center center/cover;
    }
    .c7{
    background:url("../image/15.jpg")no-repeat center center/cover;
    }
    .c9{
    background:url("../image/16.jpg")no-repeat center center/cover;
    }
    .c13{
    background:url("../image/23.jpg")no-repeat center center/cover;
    }
    
    }
}
.six{
	width:100%;
    height:100%;
	position:absolute;
    top:100%;
    transition:all .8s ease;
    left:0;
    background:url("../image/1.jpg")no-repeat center center/cover;
    z-index:11;
    .lianxi{
    width:250px;
    height:60px;
    line-height:60px;
    padding-left:550px;
    text-align:center;
    font-size:48px;
    margin-top:30px;
    text-shadow:5px -6px 3px #ccc;
    }
    .kuang{
    width:600px;
    height:300px;
    margin:0 auto;
    margin-top:60px;
    background:rgba(255,255,255,0.8);
    padding-top:100px;
    .l1{
    width:80%;
    height:40px;
    line-height:40px;
    text-align:left;
    border:1px solid #ccc;
    margin-bottom:15px;
    margin-left:60px;
    text-align:center;
    transform:translate3d(-200%,0,0);
    }
    .l2{
    transform:translate3d(200%,0,0);
    }
    .trans{
    transition:transform .8s ease 0.5s;
    transform:translate3d(0,0,0);
    }

    }
}